body {
    margin: 0%;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(22, 22, 22);
    background-color: #eeeeee;
}

hr {
    border: 0px;
    border-top: 7px dotted rgb(177, 177, 177);
    width: 5%;
}

.text>h1 {
    margin: 25px auto 0px auto;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #0d7377;
}

p {
    line-height: 2;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #32e0c4;
}

a {
    color: #0d7377;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0d7377;
}

.img1 {
    width: 25%;
    float: left;
    margin-right: 1.875rem;
}

.img2 {
    width: 25%;
    float: right;
    margin-left: 1.875rem;
}

.skill-row {
    width: 50%;
    margin: 3.125rem auto 6.25rem auto;
    text-align: left;
}

.text>h2 {
    font-weight: normal;
}

.top {
    background-color: #d3e0ea;
    padding-bottom: 0%;
    text-align: center;
    position: relative;
    padding-top: 120px;
}

.firstCloud {
    margin-bottom: 25px;
    width: 18%;
    position: absolute;
    left: 60%;
    top: 75px;
}

.secondCloud {
    width: 18%;
    position: absolute;
    left: 20.5%;
    top: 51%;
}

.profile {
    padding: 5%;
}

.profile_image {
    width: 12%;
    border-radius: 50%;
    margin-bottom: 1%;
}

.intro {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.contactBtn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    padding: 15px;
    background-color: #0D7377;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 44px;
}

.contactBtn:hover {
    background: #32E0C4;
    margin-bottom: 75px;
    margin-top: 44px;
    border-radius: 15px;
    text-decoration: none;
}

.bottom-container {
    padding: 40px;
    background-color: #32e0c4;
}

.bottom-container>p {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
}

.bottom-container>a {
    margin-bottom: 0px;
    color: #0D7377;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 500;
    padding-right: 1.75rem;
}

.bottom-container>a:hover {
    color: #eeeeee;
}